nav {
	height: 120px;

	background: rgb(238, 174, 202);
	background: radial-gradient(
		circle,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
	display: flex;
	align-items: center;
	justify-content: center;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.router-link {
	color: white;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
}

.router-link:hover {
	color: rgb(75, 75, 75);
}

.active {
	color: rgb(0, 0, 0);
}
